/* ============================== */
/* HeroSection_Add a mask, adjust text position, and set RWD-related attributes. */
/* ============================== */
.carousel-item {
    height: 90vh;
    position: relative;
}

.carousel-item::before {
    position: absolute;
    content: "";
    inset: 0;
    background-image: linear-gradient(0deg, rgba(17, 34, 80, 0), rgba(17, 34, 80, 1));
}

.carousel-caption {
    bottom: 35%;
}

@media (max-width: 767px) {
    .carousel-item {
        height: 65vh !important;
        background-image: none !important;
    }

    .carousel-item::before {
        background-image: none;
        background-color: var(--brand-navy);
        border-radius: 0 0 90% 90%;
    }

    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}