/* ============================== */
/* NavbarHeader_Change text color */
/* ============================== */
a.navbar-brand,
a.navbar-brand:hover,
a.navbar-brand:focus,
a.navbar-brand:active,
a.navbar-brand:visited,
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.nav-link,
.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link:visited {
    color: var(--color-bgc-primary);
}


/* ============================== */
/* NavbarHeader_Change the color and border of the hamburger menu */
/* ============================== */
.navbar_NavyGold .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23F5F0E9' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* 邊框：使用目標顏色 */
.navbar-toggler:focus {
    border-color: var(--color-bgc-primary) !important;
    /* 陰影：使用目標顏色（半透明） */
    box-shadow: 0 0 0 0.25rem rgba(216, 209, 197, 0.5) !important;
}

/* 確保在非 :focus 狀態下，展開按鈕的邊框顏色也是目標色 */
.navbar-toggler[aria-expanded="true"] {
    border-color: var(--color-bgc-primary) !important;
}